<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Pokemon API</title>
</head>

<body>
    <main>
        <div class="flex flexColumn center" id="app">
            <div class="form-container center flex">
                <form class="center" v-on:submit.prevent="verPokemon">
                    <input id="inputUsr" v-model="pokemon" type="text" placeholder="Ej. Charmander" required>
                </form>
                <img class="serach alignself-center" src="images/lupa.png" @click="clickLupa"></img>
                <button v-if="!masInfo" class="buttonInfo" @click="masInfo = !masInfo">Mas info</button>
                <button v-else class="buttonInfo" @click="masInfo = !masInfo" style="background-color: rgb(186, 224, 255); color: black;">Mas info</button>
            </div>

            <div class="pokemonCard flexColumn center alignself-left verdanaFont" v-show="ok" id="datos">
                <img v-if="isInFavorites(pokemonData)" class="margin05 alignself-right fav-img"
                    @click="toggleFavorite(pokemonData)" src="images/fav.png"></img>
                <img v-else class="alignself-right fav-img" @click="addFav" src="images/no-fav.png"></img>
                <img class="img-pokemon" :src="imgLink(pokemonData)">
                <div class="title">{{ pokemonData.name }}</div class="title">
                <div class="flex flexStart flexColumn" v-show="masInfo" id="masInfo">
                    <div v-for="type in pokemonData.types">
                        <div class="margin025">{{ type.type.name }}</div>
                    </div>
                    <div v-for="ability in pokemonData.abilities">
                        <div class="margin025">{{ ability.ability.name }}</div>
                    </div>
                    <div v-for="stat in pokemonData.stats">
                        <div class="margin025">{{ stat.stat.name }}: {{ stat.base_stat }}</div>
                    </div>
                </div>
            </div>
            <div v-if="pokemonNoEncontrado">No se ha encontrado el pokemon</div>

            <!--
            <div class="flex">
                <div v-for="pokemon in allPokemon" :key="pokemon">
                    <div class="pokemonCard flexColumn center verdanaFont">
                        <img class="alignself-right fav-img" @click="toggleFavorite(pokemon)" src="images/fav.png"></img>
                        <img class="img-pokemon" :src="pokemon?.sprites?.front_default">
                        <div class="title">{{ pokemon.name }}</div class="title">
                        <div v-show="masInfo" >
                            <div v-for="type in pokemon.types">
                                <div class="margin025">{{ type.type.name }}</div>
                            </div>
                            <div v-for="ability in pokemon.abilities">
                                <div class="margin025">{{ ability.ability.name }}</div>
                            </div>
                            <div v-for="stat in pokemon.stats">
                                <div class="margin025">{{ stat.stat.name }}: {{ stat.base_stat }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->


            <h2 class="alignself-left">Favoritos</h2>
            <div class="alignself-left" v-if="favoritos.length == 0">No tienes favoritos</div>
            <div v-else class="flex wrap alignself-left">
                <div class="flex" v-for="fav in favoritos" :key="fav">
                    <div class="pokemonCard flexColumn center verdanaFont">
                        <img class="alignself-right fav-img" @click="toggleFavorite(fav)" src="images/fav.png"></img>
                        <img class="img-pokemon" :src="imgLink(fav)">
                        <div class="title">{{ fav.name }}</div class="title">
                        <div class="flex flexStart flexColumn" v-show="masInfo" id="masInfo">
                            <div v-for="type in fav.types">
                                <div class="margin025">{{ type.type.name }}</div>
                            </div>
                            <div v-for="ability in fav.abilities">
                                <div class="margin025">{{ ability.ability.name }}</div>
                            </div>
                            <div v-for="stat in fav.stats">
                                <div class="margin025">{{ stat.stat.name }}: {{ stat.base_stat }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </main>

    <script>
        const apiLink = 'https://pokeapi.co/api/v2/'

        const app = Vue.createApp({
            data() {
                return {
                    pokemon: '',
                    ok: false,
                    pokemonData: {},
                    showImg: false,
                    pokemonNoEncontrado: false,
                    favoritos: [],
                    masInfo: false,
                    allPokemon: []
                };
            },

            methods: {
                verPokemon() {
                    if (this.pokemon == '') {
                        return;
                    }
                    this.conectaApi("pokemon/" + this.pokemon.toLowerCase());
                },

                conectaApi(pokemon) {
                    fetch(apiLink + pokemon)
                        .then((res) => {
                            if (res.ok) {
                                return res.json();
                            } else {
                                this.ok = false;
                                this.pokemonNoEncontrado = true;
                                throw new Error('Error en la llamada a la API');
                            }
                        })
                        .then((js) => {
                            console.log(js);
                            this.pokemonData = js;
                            this.showImg = true;
                            this.ok = true;
                            this.pokemonNoEncontrado = false;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                },

                imgLink(pokemon) {
                    const id = pokemon.id;
                    switch (true) {
                        case id < 10:
                            return "https://assets.pokemon.com/assets/cms2/img/pokedex/full/00" + id + ".png";
                        case id < 100:
                            return "https://assets.pokemon.com/assets/cms2/img/pokedex/full/0" + id + ".png";
                        default:
                            return "https://assets.pokemon.com/assets/cms2/img/pokedex/full/" + id + ".png";
                    }
                },

                toggleFavorite(pokemon) {
                    if (this.isInFavorites(pokemon)) {
                        this.removeFav(pokemon);
                    } else {
                        this.addFav();
                    }
                },

                addFav() {
                    let pokemonName = this.pokemonData.name;
                    if (!this.favoritos.some(fav => fav.name == pokemonName)) {
                        this.favoritos.push(this.pokemonData);
                        localStorage.setItem('favorites', JSON.stringify(this.favoritos));
                    }
                },

                removeFav(pokemon) {
                    this.favoritos = this.favoritos.filter(fav => fav.name != pokemon.name);
                    localStorage.setItem('favorites', JSON.stringify(this.favoritos));
                },

                loadFavorites() {
                    const favorites = localStorage.getItem('favorites');
                    if (favorites) {
                        this.favoritos = JSON.parse(favorites);
                    }
                },

                isInFavorites(pokemon) {
                    return this.favoritos.some(fav => fav.name == pokemon.name);
                },

                clickLupa() {
                    this.verPokemon();
                },

                loadAllPokemon() {
                    console.log(apiLink + "pokemon?limit=100000&offset=0");
                    fetch(apiLink + "pokemon?limit=100000&offset=0")
                        .then((res) => {
                            if (res.ok) {
                                return res.json();
                            } else {
                                this.ok = false;
                                this.pokemonNoEncontrado = true;
                                throw new Error('Error en la llamada a la API');
                            }
                        })
                        .then((js) => {
                            this.allPokemon = js;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                    console.log(this.allPokemon);
                }
            },

            mounted() {
                this.loadFavorites();
                this.loadAllPokemon();
            }
        });
        app.mount('#app');
    </script>
</body>

</html>