<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Primera página con Vue</title>
</head>

<body>
    <main>
        <div id="app">
            Busqueda
            <form v-on:submit.prevent="verPokemon">
                <input id="inputUsr" v-model="pokemon" type="text" required>
                <input type="submit" value="imprimir">
            </form>
            <div class="pokemonCard flexColumn center verdanaFont" v-show="ok" id="datos">
                <img v-if="isInFavorites(pokemonData)" class="margin05 alignself-right fav-img" @click="toggleFavorite(pokemonData)" src="images/fav.png"></img>
                <img v-else class="alignself-right fav-img" @click="addFav" src="images/no-fav.png"></img>
                <img class="img-pokemon" :src="pokemonData?.sprites?.front_default">
                <div class="title">{{ pokemonData.name }}</div class="title">
                <div v-show = "masInfo">
                    <div v-for="type in pokemonData.types">
                        <div class="margin025">{{ type.type.name }}</div>
                    </div>
                    <div v-for="ability in pokemonData.abilities">
                        <div class="margin025">{{ ability.ability.name }}</div>
                    </div>
                    <div v-for="stat in pokemonData.stats">
                        <div class="margin025">{{ stat.stat.name }}: {{ stat.base_stat }}</div>
                    </div>
                </div>
            </div>
            <div v-if="pokemonNoEncontrado">No se ha encontrado el pokemon</div>

            <div class="flex">
                <div v-for="fav in favoritos" :key="fav">
                    <div class="pokemonCard flexColumn center verdanaFont">
                        <img class="alignself-right fav-img" @click="toggleFavorite(fav)" src="images/fav.png"></img>
                        <img class="img-pokemon" :src="fav?.sprites?.front_default">
                        <div class="title">{{ fav.name }}</div class="title">
                        <div v-show="masInfo" >
                            <div v-for="type in fav.types">
                                <div class="margin025">{{ type.type.name }}</div>
                            </div>
                            <div v-for="ability in fav.abilities">
                                <div class="margin025">{{ ability.ability.name }}</div>
                            </div>
                            <div v-for="stat in fav.stats">
                                <div class="margin025">{{ stat.stat.name }}: {{ stat.base_stat }}</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        const apiLink = 'https://pokeapi.co/api/v2/pokemon/'

        const app = Vue.createApp({
            data() {
                return {
                    pokemon: '',
                    ok: false,
                    pokemonData: {},
                    showImg: false,
                    pokemonNoEncontrado: false,
                    favoritos: [],
                    masInfo: false
                };
            },

            methods: {
                verPokemon() {
                    this.conectaApi(this.pokemon);
                },

                conectaApi(pokemon) {
                    fetch(apiLink + pokemon)
                        .then((res) => {
                            if (res.ok) {
                                return res.json();
                            } else {
                                this.ok = false;
                                this.pokemonNoEncontrado = true;
                                throw new Error('Error en la llamada a la API');
                            }
                        })
                        .then((js) => {
                            this.pokemonData = js;
                            this.showImg = true;
                            this.ok = true;
                            this.pokemonNoEncontrado = false;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                },

                toggleFavorite(pokemon) {
                    if (this.isInFavorites(pokemon)) {
                        this.removeFav(pokemon);
                    } else {
                        this.addFav();
                    }
                },

                addFav() {
                    let pokemonName = this.pokemonData.name;
                    if (!this.favoritos.some(fav => fav.name == pokemonName)) {
                        this.favoritos.push(this.pokemonData);
                        localStorage.setItem('favorites', JSON.stringify(this.favoritos));
                    }
                },

                removeFav(pokemon) {
                    this.favoritos = this.favoritos.filter(fav => fav.name != pokemon.name);
                    localStorage.setItem('favorites', JSON.stringify(this.favoritos));
                },

                loadFavorites() {
                    const favorites = localStorage.getItem('favorites');
                    if (favorites) {
                        this.favoritos = JSON.parse(favorites);
                    }
                },

                isInFavorites(pokemon) {
                    return this.favoritos.some(fav => fav.name == pokemon.name);
                }
            },

            mounted() {
                this.loadFavorites();
            }
        });
        app.mount('#app');
    </script>
</body>

</html>